{% extends './dashboard.html' %}

{% block content %}
<form>
  <div class="form-group">
    <label>About us</label>
    <input type="text" class="form-control" placeholder="Enter about us">
  </div>
  <div class="form-group">
    <label>Information</label>
    <input type="text" class="form-control" placeholder="Enter Info">
  </div>
  <div class="form-group">
    <label>Detailed Information</label>
    <input type="text" class="form-control" placeholder="Enter detailed info">
  </div>
  <div class="form-group">
    <label>Our job</label>
    <input type="text" class="form-control" placeholder="Enter our job">
  </div>
  <div class="form-group">
    <label>Job Information</label>
    <input type="text" class="form-control" placeholder="Enter job info">
  </div>
  <div class="form-group">
    <label>Footer</label>
    <input type="text" class="form-control" placeholder="Enter footer">
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}
