{% extends './base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<section id="main">
  <div class="container">
    <article id="main-col">
      <h1 class="page-title">{{ about.about_us }}</h1>
      <p>{{ about.info }}</p>
      <p class="dark">{{ about.detailed_info }}</p>
    </article>

    <aside id="sidebar">
      <div class="dark">
        <h3>{{ about.our_job }}</h3>
        <p>{{ about.job_info }}</p>
      </div>
    </aside>
  </div>
</section>
{% endblock %}

{% block about %}
class="current"
{% endblock %}
