{% extends "./base.html" %}


{% block showcase %}
<section id="showcase">
  <div class="container">
    <h1>Affordable Professional Web Design</h1>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
      accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
       quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  </div>
</section>
{% endblock %}

{% block content %}
{% load static %}
<section id="boxes">
  <div class="container">
    <div class="box">
      <img src="{% static "img/logo_html.png" %}" alt="html">
      <h3>HTML3 Markup</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium.</p>
    </div>
    <div class="box">
      <img src="{% static "img/logo_css.png" %}" alt="css">
      <h3>CSS3 Styling</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium.</p>
    </div>
    <div class="box">

      <img src="{% static "img/logo_brush.png" %}" alt="brush">
      <h3>Graphic Design</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium.</p>
    </div>
  </div>
</section>
{% endblock %}
