{% extends './base.html' %}

{% block title %}Services{% endblock %}

{% block content %}
<section id="main">
  <div class="container">
    <article id="main-col">
      <h1 class="page-title">{{ service.services }}</h1>
      <ul id="services">
        <li>
          <h3>{{ service.title }}</h3>
          <p>{{ service.info }}</p>
          <p>{{ service.price }}</p>
        </li>
        <li>
          <h3>{{ service2.title }}</h3>
          <p>{{ service2.info }}</p>
          <p>{{ service2.price }}</p>
        </li>
        <li>
          <h3>{{ service3.title }}</h3>
          <p>{{ service3.info }}</p>
          <p>{{ service3.price }}</p>
        </li>
      </ul>
    </article>

    <aside id="sidebar">
      <div class="dark">
        <h3>{{ service.quote_title }}</h3>
        <form class="quote">
          <div>
            <label>Name</label><br>
            <input type="text" placeholder="Name">
          </div>
          <div>
            <label>Email</label><br>
            <input type="email" placeholder="Email Address">
          </div>
          <div>
            <label>Message</label><br>
            <textarea placeholder="Message"></textarea>
          </div>
          <button class="button_1" type="submit">Send</button>
        </form>
      </div>
    </aside>
  </div>
</section>
{% endblock %}

{% block service %}
class="current"
{% endblock %}
