{% extends './dashboard.html' %}

{% block content %}
<form>
  <div class="form-group">
    <label>Services</label>
    <input type="text" class="form-control" placeholder="Enter services title">
  </div>
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" placeholder="Enter title">
  </div>
  <div class="form-group">
    <label>Information</label>
    <input type="text" class="form-control" placeholder="Enter Info">
  </div>
  <div class="form-group">
    <label>Price</label>
    <input type="text" class="form-control" placeholder="Enter rrice">
  </div>
  <div class="form-group">
    <label>Quote title</label>
    <input type="text" class="form-control" placeholder="Enter quote title">
  </div>
  <div class="form-group">
    <label>Footer</label>
    <input type="text" class="form-control" placeholder="Enter footer">
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}
